$roboto-t: 'robotothin';
$roboto-l: 'robotolight';
$roboto-m: 'robotomedium';

$color-white: #fff;
$color-black: #2e3641;
$color-blue: #9eb2c0;
$color-light-blue: #dbe1e8;
$color-pink: #f97e76;

$radius: 3px;