//
   Created by Vital on 26.08.2015.
section.section.upload
   .form-line
      .form-label Исходное изображение
      .custom-upload
         input.input.input-file(type="file", name='bimg')#basicImage
         .imitation-upload
            .icon-upload
            input.input(type='text', name='basicImage', 'readonly', placeholder='Выберите изображение')

   .form-line
      .form-label Водяной знак
      .custom-upload.m-disabled
         input.input.input-file(type="file", name='wimg', disabled)#waterMark
         .imitation-upload
            .icon-upload
            input.input(type='text', name='waterMark', 'readonly', placeholder='Выберите изображение')

