//
   Created by Vital on 26.08.2015.
section.section.opacity.disabled
   .disabled-area
   .form-label Прозрачность
   .wmark-opacity
      .opacity-slider
         input.opacity-range.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min(type="range", min="0", max="1", step="0.05", value="1")
