//
   Created by Vital on 26.08.2015.
doctype html
html(lang='ru-RU')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='')
      meta(name='keywords', content='')
      meta(name='author', content='')
      link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
      link(rel='icon', href='favicon.ico', type='image/x-icon')
      block title
         title Генератор водяных знаков
      // build:css css/vendor.min.css
      // bower:css
      link(rel='stylesheet', href='./bower/normalize.css/normalize.css')
      // endbower
      // endbuild
      // build:css css/styles.min.css
      link(rel='stylesheet', href='css/styles.css')
      // endbuild
      script(src='./js/vendor/modernizr.min.js')
   body
      <!--[if lt IE 8]>
      <p class='b-unhappy-browser'>Вы используете устаревший браузер. Пожалуйста
      <a href="http://browsehappy.com/">обновите</a> его.</p>
      <![endif]-->
      .page
         .page-gradient
         // Основной контент
         .main-container
            .left-panel
               block socials
            .columns
               .main
                  block main
               .settings
                  block aside
         // Основной контент конец
      // Подвал
      include includes/_footer
      // Подвал конец
      //Фрейм для загрузки картинки
      iframe#loadFrame(src='')
      // build:js js/vendor/vendor.min.js
      // bower:js
      script(src='./bower/jquery/jquery.js')
      script(src='./bower/jquery-placeholder/jquery.placeholder.js')
      // endbower
      // endbuild
      //vendor
      script(src='js/vendor/jquery-ui.min.js')
      // upload scripts
      // build:js js/vendor/loading.min.js
      //script(src='js/vendor/load-image.all.min.js')
      //script(src='js/vendor/canvas-to-blob.js')
      script(src='js/vendor/jquery.iframe-transport.js')
      script(src='js/vendor/jquery.fileupload.js')
      //script(src='js/vendor/jquery.fileupload-process.js')
      //script(src='js/vendor/jquery.fileupload-image.js')
      //script(src='js/vendor/jquery.fileupload-validate.js')
      // endbuild
      <!--[if IE 8]>
      <script src='js/vendor/selectivizr.min.js'></script>
      <![endif]-->
      // build:js js/main.min.js
      //script(src='js/main.js')
      script(src='js/modules.js')
      script(src='js/main2.js')
      // endbuild
