//
   Created by Vital on 26.08.2015.
extends _layout
block title
   title Генератор водяных знаков
block socials
   include includes/_socials
block main
   include includes/_main
block aside
   include includes/_panelsettings
